 * {
      box-sizing: border-box;
    }
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #f9f9f9;
      margin: 100px auto;
      direction: rtl;
    }
    .faqTemplateParent{
        margin: auto;
        padding: 30px 15px;
        >h2{
            text-align: center;
            font-size: 26px;
            margin-bottom: 30px;
        }
    }
    .accordion {
      max-width: 1400px;
      margin: 0 auto;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
      overflow: hidden;
    }
    .line{
        display: block;
        height: 10px;
        width: 100%;
        
      }
    .accordion-item {
      border-bottom: 1px solid #ddd;
      background-color: transparent;
     
    }
    .accordion-item:last-child {
      border-bottom: none;
    }
    .accordion-header {
      cursor: pointer;
      padding: 20px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      color: #000;
      user-select: none;
      transition:  0.3s;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.05);
      
    }
    .accordion-header:hover {
      background-color: #f1f1f1;
    }
    .accordion-content {
      display: none;
      overflow: hidden;
      padding: 25px 10px;
      color: #000;
      font-size: 13.5px;
      line-height: 1.6;
    }
    .accordion-content p{
      margin: 0;
    }
    .accordion-header svg{
      transition: all .4s;
      width: 25px;
    }
    
    .active .accordion-header svg {
      transform: rotate(-90deg);
    }
    .active .accordion-header {
      background-color: #f8f8f8;
    }
    .accordion-header span{
      font-size: 15px;
      font-weight: normal;
      width: calc(100% - 30px);
    }